<footer id="landing-footer" class="clearfix">
    <div class="row clearfix">
        <div class="col-2">
            <p id="dev">
                &copy; Extended by Team 07: <a href="https://github.com/CSC-510-G7/Sentimental-Analyzer-Pro">Sentimental-Analyzer-Pro</a>
            </p>
        </div>
        <div class="col-2 disclaimer">
            <div class="team-members">
                <p>Team Members: 
                    <a href="https://github.com/BrandonTroy" target="_blank">Brandon Troy</a>&nbsp; 
                    <a href="https://github.com/Kanchi11" target="_blank">Kanchana Dhana Sadasivan</a>&nbsp;
                    <a href="https://github.com/ChristopherElchik" target="_blank">Chris Elchik</a>
                </p>
            </div>
        </div>
    </div>
</footer>